
//基础色
$pramary-color: #409EFF;
//基础过度色
$pramary-med-color: #66b1ff;
//默认边框色
$default-border-color: #c6e2ff;
//默认背景色
$default-bg-color: #ecf5ff;
//禁用色
$default-pramary-color: #a0cfff;


/*["409EFF", "64,158,255", "#53a8ff", "#66b1ff", "#79bbff", "#8cc5ff", "#a0cfff", "#b3d8ff", "#c6e2ff", "#d9ecff", "#ecf5ff", "#3a8ee6"]
*/